<div class="ticket-container">
    <div class="tickets">
        <button id="btn-horror" class="ticket-btn">HORROR</button>
        <button id="btn-scifi" class="ticket-btn">SCI-FI</button>
        <button id="btn-romance" class="ticket-btn">ROMANCE</button>
        <button id="btn-comedy" class="ticket-btn">COMEDY</button>
        <button id="btn-action" class="ticket-btn">ACTION</button>
    </div>
</div>

<script src="/javascript/box-office.js"></script>
