  
<div class="ticket-container">
    <div class="tickets">
        <button class="ticket-btn">HORROR</button>
        <button class="ticket-btn">SCI-FI</button>
        <button class="ticket-btn">ROMANCE</button>
        <button class="ticket-btn">COMEDY</button>
        <button class="ticket-btn">ACTION</button>
    </div>
    </div>
</div>
